
  <div class="landing">
    <h1>Hey Tim, Welcome to Commandify.</h1>
  </div>

  <div class="landing">
    <h2>Please Log in, Enter Your Command, and Save It!</h2>
  </div>

  <div class="landing">
    <%= link_to "Login",
                "#",
                class: "btn btn--primary" %>


    <%= link_to "New Command",
                new_command_path,
                class: "btn btn--primary" %>
  </div>
