<%= simple_form_for command, html: { class: "command form" } do |f| %>
  <% if command.errors.any? %>
    <div class="error-message">
      <%= command.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>
