<main class="container">
  <%= link_to sanitize("&larr; Back to Commands"), commands_path %>

  <div class="header">
    <h1>New Command</h1>
  </div>

  <%= render "form", command: @command %>
</main>
